@import 'tailwindcss';

/* index.css */

.input-style {
  @apply w-full px-3 py-2 rounded-md bg-slate-800 text-white 
         placeholder-slate-400 focus:outline-none focus:ring-2 
         focus:ring-indigo-400;
}

.select-style {
  @apply w-full px-3 py-2 rounded-md bg-slate-800 text-white 
         focus:outline-none focus:ring-2 focus:ring-indigo-400;
}

.btn-primary {
  @apply px-4 py-2 rounded-md bg-indigo-500 hover:bg-indigo-600 
         text-white font-semibold transition-colors duration-200;
}

.queue-card {
  @apply bg-slate-700 rounded-lg p-4 shadow-md transition hover:bg-slate-600;
}

.btn-serve {
  @apply px-4 py-2 rounded-md bg-green-600 hover:bg-green-700 
         text-white font-semibold transition-colors duration-200;
}

.btn-remove {
  @apply px-4 py-2 rounded-md bg-red-600 hover:bg-red-700 
         text-white font-semibold transition-colors duration-200;
}
.disabled-btn:disabled {
  @apply bg-gray-500 text-gray-300 cursor-not-allowed hover:bg-gray-500;
}
